{% extends 'front.html.twig' %}




{% block title %}

{% endblock %}




{% block body %}

    <div class="service">

        <div class="container">

            <div class="section-header text-center">

                <div id="google_translate_element"></div>

                <h4 style="margin-top:50px; margin-bottom:50px;">Liste des Produits</h4>

            </div>

            <div class="row">

                {% for produit in produits %}

                    <div class="col-lg-4 col-md-6 mb-4">

                        <div class="service-item">

                            <img src="{{ asset('uploads/' ~ produit.photo) }}" style=" width:360px; height:250px; " alt="">

                            
                            
                            <p><strong style="color:#696969">Name:</strong> {{ produit.name }}</p>
                            
                            <a href="{{ path('Produit_details', {'id': produit.id}) }}" class="btn btn-primary">Afficher détails</a>
                        </div>

                    </div>

                {% else %}

                    <div class="col">

                        <p class="text-center">Aucun Produit trouvé.</p>

                    </div>

                {% endfor %}

            </div>
            
        </div>

    </div>

    <br>

    




{% endblock %}
